body {
    @apply antialiased relative bg-cool-gray-200 font-sans;
  }
  
  header {
    @apply mb-8;
  }
  
  .container {
    @apply max-w-6xl mx-auto px-6;
  }
  
  h1 {
    @apply text-center text-cool-gray-900 font-extrabold text-4xl mb-8;
  }
  
  ul.examples {
    @apply mt-8 text-2xl mx-auto max-w-xs list-disc;
  
    li {
      @apply mt-3;
  
      a {
        @apply underline;
      }
    }
  }
  
  .icon {
    fill: currentColor;
  }
  
  /* Dashboard */
  
  #dashboard {
  
    @apply max-w-2xl mx-auto;
  
    .stats {
      @apply mb-8 rounded-lg bg-white shadow-lg grid grid-cols-2;
  
      .stat {
        @apply p-6 text-center;
  
        .name {
          @apply block mt-2 text-lg leading-6 font-medium text-cool-gray-500;
        }
  
        .value {
          @apply block text-5xl leading-none font-extrabold text-indigo-600;
        }
      }
    }
  
    button {
      @apply inline-flex items-center px-4 py-2 border border-indigo-300 text-sm shadow-sm leading-6 font-medium rounded-md text-indigo-700 bg-indigo-100 transition ease-in-out duration-150 outline-none;
  
      img {
        @apply mr-2 h-4 w-4;
      }
    }
  
    button:active {
      @apply bg-indigo-200;
    }
  
    button:hover {
      @apply bg-white;
    }
  
    .controls {
      @apply flex items-center justify-end;
  
      form {
        .group {
          @apply flex items-baseline;
        }
  
        label {
          @apply uppercase tracking-wide text-indigo-800 text-xs font-semibold mr-2;
        }
  
        select {
          @apply appearance-none bg-cool-gray-200 border-indigo-300 border text-indigo-700 py-2 px-4 rounded-lg leading-tight font-semibold cursor-pointer mr-2 h-10;
        }
  
        select:focus {
          @apply outline-none bg-white border-indigo-500;
        }
      }
    }
  }
